<ol class="cards-wrapper" id="#card-sortable">
  <% cards.each( function(card) { %>
    <li class="card-show">
      <h4><%= card.escape("title") %></h4>
      <a href="javascript: void(0)" class="close-button hidden">X</a>
    </li>
  <% }) %>
</ol>