<div class="cards-wrapper card-sortable">
  <% cards.each( function(card) { %>
    <div class="card-show" data-id="<%= card.id %>">
      <h4><%= card.escape("title") %></h4>
      <a href="javascript: void(0)" class="close-button hidden">X</a>
    </div>
  <% }) %>
</div>