<h1><%= board.escape("title") %></h1>

<div class="container list-container">

</div>

<div class="container">
  <button class="confirm-delete-board"
    data-toggle="modal"
    data-target=".confirm-delete">
    Delete this Board
  </button>
  
  <div class="modal confirm-delete">
    <div class="modal-dialog">
      <div class="modal-content">
          <h4>Really delete this board?</h4>
          <button data-dismiss="modal">No</button>
          <button class="delete-board" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>

  <div class="new-list"></div>

  <div>
    <a href="#">Back to board index</a>
  </div>
</div>