<h1><%= board.escape("title") %></h1>

<div class="container">
  <ol class="lists">

  </ol>
</div>

<div class="container">
  <button class="delete-board">Delete this Board</button>

  <div class="new-list"></div>

  <div>
    <a href="#">Back to board index</a>
  </div>
</div>